.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://cdn5.colorir.com/desenhos/color/201533/um-computador-portatil-a-casa-o-quarto-pintado-por-biankamelo-1126111.jpg);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .decorator-text-none{
     text-decoration: none;
 }