.textos1{
    font-weight: bold !important;
 }
 
 .imagem{
     background-image: url(https://imgur.com/C4HzHw1);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .decorator-text-none{
     text-decoration: none;
 }