.box1{
    background: #9340c9 !important;
    height: 120px;
}

.box2{
    background: #9340c9 !important;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color:rgb(7, 22, 104);
}

.textos{
   color:rgb(7, 22, 104);
}


