.box1{
    background-color: #b7b9bb !important;
    height: 120px;
}

.box2{
    background-color: #b7b9bb!important;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}