.caixa{
    background-color: #9340c9 !important;
}

.titulo{
   color: rgb(7, 22, 104)!important;
   font-weight: bold !important;
}

.botao{
    border-color:rgb(7, 22, 104) !important;
    background-color: #1673be;
    color:rgb(7, 22, 104) !important;
}

.postagens{
    background-color: white;
}