.box{
    background-color: #b7b9bb !important;
}

.titulo{
   color: rgb(104, 7, 7) !important;
   font-weight: bold !important;
}

.botao{
    border-color:rgb(104, 7, 7) !important;
    background-color: #1673be;
    color:rgb(104, 7, 7) !important;
}

.postagens{
    background-color: white;
}